<template>
    <div class="container">
        <flash-message></flash-message>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form @submit.prevent="filter" style="margin-bottom: 20px">
                    <div class="row justify-content-center">
                        <div class="col col-md-2">
                            <input id="limit" type="number" class="form-control" placeholder="Limit" v-model="limit" autofocus>
                        </div>
                        <div class="col col-md-3">
                            <div class="dropdown">
                                <select class="custom-select" v-model="date">
                                    <option selected>Desc</option>
                                    <option>Desc</option>
                                    <option>Asc</option>
                                </select>
                            </div>
                        </div>
                        <div class="col col-md-2">
                            <input id="amount" class="form-control" placeholder="Amount" v-model="amount" autofocus>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary">
                                Go
                            </button>
                        </div>
                    </div>
                </form>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Customer CNP</th>
                    </tr>
                    </thead>
                    <tbody v-for="item in items">
                    <tr>
                        <th scope="row">{{item.transactionId}}</th>
                        <td>{{item.amount}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.customerName}}</td>
                        <td>{{item.customerCnp}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                items: [],
                amount: "",
                date: "Asc",
                limit: "",
            }
        },
        mounted() {
            axios.get('api/transactions').then(response => {
                this.items = response.data.data;
            })
        },
        methods: {
            filter() {
                let data = {amount: this.amount, date: this.date, limit: this.limit};
                let forSend = {};
                for (let i in data) {
                    if (data[i]) {
                        forSend[i] = data[i];
                    }
                }
                axios.post('api/transactions', forSend)
                    .then(response => {
                        if (response.data.success) {
                            this.items = response.data.data;
                        } else {
                            this.flash(response.data.message, 'error', {
                                timeout: 2000
                            });
                        }

                        console.log(this.items);
                    })
            }
        }
    }
</script>
