<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <div class="panel-body">
                            <flash-message></flash-message>
                            <form @submit.prevent="logIn">

                                <div class="form-group">
                                    <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                                    <div class="col-md-12">
                                        <input id="email" type="email" class="form-control" v-model="email" required autofocus>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password" class="col-md-4 control-label">Password</label>

                                    <div class="col-md-12">
                                        <input id="password" type="password" class="form-control" v-model="password" required>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="submit" class="btn btn-primary">
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                email: "",
                password: ""
            }
        },
        methods: {
            logIn() {
                axios.post('api/login', {email: this.email, password: this.password})
                    .then(response => {
                        let token = response.data.token;
                        let success = response.data.success;
                        if (success && token) {
                            localStorage.setItem('token', token);
                            this.$router.push('home');
                        } else {
                            this.flash('Email or password is failed.', 'error', {
                                timeout: 2000
                            });
                        }
                    })
            }
        }
    }
</script>